# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage

# development
/dist

# production
/build

# misc
.DS_Store

inf/ansible/group_vars/*.yaml
!inf/ansible/group_vars/ci/*.yaml
inf/ansible/inventories/credentials

*.tar.gz
*.log
/secrets
*.pem
.secret
*.plain
.release
tmp
.terraform
.vagrant
/.env
terraform.tfstate.*
*.retry
