node_modules
/coverage
/dist
/build
.DS_Store
inf/ansible/group_vars/*.yaml
!inf/ansible/group_vars/ci/*.yaml
inf/ansible/inventories/credentials
*.tar.gz
*.log
/secrets
*.pem
.secret
*.plain
.release
tmp
.terraform
.vagrant
/.env
terraform.tfstate.*
*.retry
/.pnp
.pnp.js
.env.local
.env.development.local
.env.test.local
*.local
